.box {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px;
    margin: 100px auto;
    width: 50%;
    text-align: center;
    border: 2px dashed #0077cc;
    border-radius: 10px;
    background-color: #f9fcff;
}
